/*----------------------------------------------------------------------------------*/
/*------------------------------RESET DEFAULT STYLES--------------------------------*/
/*----------------------------------------------------------------------------------*/
html,body                       { width:100%; height:100%; }
body                            { padding:0; margin:0; font:12px Tahoma, sans-serif; background:#fff; color:#000; }
div,menu,p,a,span,em,strong,img,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,td,tr,form,fieldset,legend,label,select,input,textarea,button {
  padding:0;
  margin:0;
  outline:none;
  list-style:none;
}
button                         { cursor: pointer; padding: 0 }
select, input, textarea,button { font:12px Tahoma, sans-serif; vertical-align:middle; }
textarea                       { vertical-align:top; }
:focus                         { outline:none; }
input[type=submit]             { cursor:pointer; }
img, fieldset                  { border:0; }
img                            { vertical-align: top; }
table                          { border-collapse:collapse; border-spacing:0; }
a:link, a:visited              { font:12px Tahoma, sans-serif; color:#000; text-decoration:underline; }
a:hover                        { text-decoration:none; }
/*----------------------------------------------------------------------------------*/
/*-------------------------------------DEFAULT CLASSES------------------------------*/
/*----------------------------------------------------------------------------------*/
.float-r           	           { float:right !important; }
.float-l                       { float:left !important; }
.no-float                      { float:none !important; }
.no-border                     { border:0 !important; }
.no-bg                         { background:none !important; }
.no-margin                     { margin:0 !important; }
.no-padding                    { padding:0 !important; }
.no-display                    { display:none !important; }
.display                       { display:block !important; }
.inline                        { display:inline !important; }
.overflow                      { overflow:hidden !important; }
.align-r                       { text-align:right !important; }
.align-l                       { text-align:left !important; }
.align-c                       { text-align:center !important; }
.clear                         { clear:both; }
.clearfix:after                { content: ""; display: block; clear: both; visibility: hidden;}
.clearfix                      { display: inline-block; width: 100% }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/*----------------------------------------------------------------------------------*/
/*-------------------------------------FONTS----------------------------------------*/
/*----------------------------------------------------------------------------------*/
@font-face {
  font-family: "MyriadProRegular";
  src: url("../../fonts/MyriadPro/MyriadPro-Regular.otf") format("opentype")
}

@font-face {
  font-family: "MyriadProBold";
  src: url("../../fonts/MyriadPro/MyriadPro-Bold.otf") format("opentype")
}
//
//@font-face {
//  font-family: "MyriadProItalic";
//  src: url("../fonts/MyriadProItalic/MyriadProItalic.eot");
//  src: url("../fonts/MyriadProItalic/MyriadProItalic.eot?#iefix")format("embedded-opentype"),
//  url("../fonts/MyriadProItalic/MyriadProItalic.woff") format("woff"),
//  url("../fonts/MyriadProItalic/MyriadProItalic.ttf") format("truetype");
//  font-style: normal;
//  font-weight: normal;
//}
//
//@font-face {
//  font-family: "MyriadProSemiBold";
//  src: url("../fonts/MyriadProSemiBold/MyriadProSemiBold.eot");
//  src: url("../fonts/MyriadProSemiBold/MyriadProSemiBold.eot?#iefix")format("embedded-opentype"),
//  url("../fonts/MyriadProSemiBold/MyriadProSemiBold.woff") format("woff"),
//  url("../fonts/MyriadProSemiBold/MyriadProSemiBold.ttf") format("truetype");
//  font-style: normal;
//  font-weight: normal;
//}
//
//@font-face {
//  font-family: "MyriadProBoldItalic";
//  src: url("../fonts/MyriadProBoldItalic/MyriadProBoldItalic.eot");
//  src: url("../fonts/MyriadProBoldItalic/MyriadProBoldItalic.eot?#iefix")format("embedded-opentype"),
//  url("../fonts/MyriadProBoldItalic/MyriadProBoldItalic.woff") format("woff"),
//  url("../fonts/MyriadProBoldItalic/MyriadProBoldItalic.ttf") format("truetype");
//  font-style: normal;
//  font-weight: normal;
//}
//
//@font-face {
//  font-family: "MyriadProSemiBoldItalic";
//  src: url("../fonts/MyriadProSemiBoldItalic/MyriadProSemiBoldItalic.eot");
//  src: url("../fonts/MyriadProSemiBoldItalic/MyriadProSemiBoldItalic.eot?#iefix")format("embedded-opentype"),
//  url("../fonts/MyriadProSemiBoldItalic/MyriadProSemiBoldItalic.woff") format("woff"),
//  url("../fonts/MyriadProSemiBoldItalic/MyriadProSemiBoldItalic.ttf") format("truetype");
//  font-style: normal;
//  font-weight: normal;
//}
/*----------------------------------------------------------------------------------*/
/*-------------------------------------WRAPPER--------------------------------------*/
/*----------------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------------*/
/*-------------------------------------HEADER---------------------------------------*/
/*----------------------------------------------------------------------------------*/
.welcome-section {
  height: 100vh;
  a {
    text-decoration: none;
  }
  header.header {
    height: 87px;
    background-color: rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid #c1c1c18c;
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
  }
  .logo {
      float: left;
      img {
        margin: 9px 0 0 63px;
      }
    }
    .main-nav {
      float: right;
    }
    nav li, nav ul {
      float: left;
    }
    .menu li {
      float: left;
      a {
        display: block;
        color: #fff;
        padding: 36px 22px;
        border-bottom: 1px solid transparent;
        font-family: MyriadProRegular, sans-serif;
      }
      a:hover {
        border-bottom: 1px solid #f7b940;;
      }
    }
    .phone li {
      margin-right: 20px;
    }
    .lang a, .phone li a {
      color: #53d0fb;
      line-height: 85px;
      font-family: MyriadProRegular, sans-serif;
    }
    .lang {
      margin-right: 5px;
      a {
        padding: 0 5px;
        border-right: 1px solid #53d0fb;
      }
      :last-child a {
        border-right: 1px solid transparent;
      }
    }

  .slider-info {
    position: absolute;
    top: 20%;
    width: 100%;
    text-align: center;
    img {
      width: 30%;
    }
    .welcome-slogan {
      color: #fff;
      margin: 30px 0;
      font-size: 24px;
      h2:first-child {
        font-family: MyriadProBold;
      }
      h2:last-child {
        font-family: MyriadProRegular;
      }
    }
  }
  .slider {
    height: 100%;
    img {
      width: 100%;
      height: 100%;
    }
  }
}


/*----------------------------------------------------------------------------------*/
/*-------------------------------------CONTENT--------------------------------------*/
/*----------------------------------------------------------------------------------*/

section.about-f-e-devel {
  .parallax, .info {
    width: 40%;
    float: left;
    margin: 80px 0 40px;
  }
  .parallax {
    text-align: center;
    position: relative;
    left: 5%;
    img {
      width: 45%;
    }
    h3 {
      font-family: "MyriadProRegular";
      font-size: 19px;
    }
  }
  .info {
    p {
      margin: 12px 0;
      font-size: 13px;
    }
    h4.border {
      border: 3px solid #53d0fb;
      padding: 4% 7%;
      text-align: center;
      font-size: 16px;
      margin: 12% 0;
    }
  }
}
div.skills {
  .info {
    margin-top: 20px;
    span.title, p {
      position: relative;
      top: 10px;
    }
  }
  ul.tech-list {
    li {
      float: left;
      width: 33.33333%;
      padding: 4% 5% 2%;
      background-color: #f4f4f4;
    }
    .icon-holder {
      height: 218px;
    }
  }
  .number {
    font-size: 50px;
    float: left;
    margin-right: 15px;
  }
  .title {
    font-family: "MyriadProBold";
  }
}

.must-know-section {
  float: left;
  width: 100%;
  h3.title {
    text-align: center;
    margin: 100px 0 50px;
    font-family: "MyriadProBold";
    font-size: 24px;
  }
  .main-block {
    width: 100%;
    .tech-block {
      width: 62%;
      position: relative;
      left: 9%;
      float: left;
      margin-bottom: 50px;
    }

    }
    .info-wrapper {
      width: 22%;
      float: left;
      position: relative;
      left: 130px;
      top: 30px;
    }
     p {
      margin: 20px 17px;
    }
  
  span.title {
    padding: 30px 0;
    border: 2px solid #53d0fb;
    display: block;
    width: 288px;
    font-family: "MyriadProBold";
    text-align: center;
    font-size: 18px;
    opacity: 1;
    background-color: #ffffff29;
  }
  .img-code {
    float: right;
    width: 50%;
    img {
      width: 520px;
      height: 300px;
    }
  }
}


/*----------------------------------------------------------------------------------*/
/*-------------------------------------SIDEBAR--------------------------------------*/
/*----------------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------------*/
/*-------------------------------------FOOTER---------------------------------------*/
/*----------------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------------*/
/*-------------------------------------OTHER----------------------------------------*/
/*----------------------------------------------------------------------------------*/

// Buttons
.buttons {
  :first-child {
    position: relative;
    left: 3px;
  }
  :last-child {
    position: relative;
    left: -2px;
  }
  .btn-answer {
    color: #fff;
    padding: 20px 0;
    background-color: transparent;
    border: 1px solid #414a56;
    width: 227px;
    font-size: 18px;
  }
  .btn-answer:hover {
    background-color: #fff;
    color: #000;
  }
}

.btn-tech-info {
  width: 150px;
  height: 35px;
  background-color: #53d0fb;
  border: none;
  overflow: hidden;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  font-family: "MyriadProBold";
}
.btn-tech-info:hover {
  background-color:  #000;
  color: #fff;
}